html,
body {
  min-height: 100%;
}
body {
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  justify-content: center;
}
.open {
  display: flex !important;
}

.big_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.header {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: rgb(220, 239, 229);
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}

.box_in_header {
  display: flex;
  width: 1110px;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}

.img1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 45%;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: rgb(29, 28, 28);
}

.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  width: 30px;
  height: 18px;
  justify-content: flex-end;
  margin: 0px 20px 0px 0px;
}

.burger span {
  height: 2px;
  width: 80px;
  transform: scale(1);
  background-color: #272522;
}

.burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #272522;
  transition:
    all 0,
    3s ease 0s;
}

.burger::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #272522;
  transition:
    all 0,
    3s ease 0s;
}

.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger.active span {
  transform: scale(0);
}
.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1110px;
  box-sizing: border-box;
  margin: 0px auto;
  justify-content: center;
}
.section {
  display: flex;
  width: 100%;
  height: 85%;
  box-sizing: border-box;
  justify-content: center;
  justify-content: space-between;
}

.img_burd {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  img {
    height: 100%;
    width: 100%;
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 100%;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  justify-content: center;
  gap: 40px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 60px;
}

.ink_house {
  font-size: 60px;
  color: rgb(2, 127, 2);
}

.little_text {
  color: gray;
  line-height: normal;
}
.title_ink_house {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.main_button {
  color: rgb(2, 127, 2);
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  padding: 20px 60px 20px 60px;
  display: flex;
  width: 37%;
  background-color: white;
  border: 1px solid rgb(69, 160, 72);
  a {
    color: rgb(2, 127, 2);
  }
}

.section1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
}

.reprodaction {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.countrys {
  display: flex;
  gap: 32px;
  font-family: "Raleway", sans-serif;
  font-size: 21px;
}

.country {
  box-sizing: border-box;
  background-color: rgb(220, 239, 229);
  border-radius: 30px;
  padding: 15px 20px;
}

.picture {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  font-family: "Raleway";
  font-weight: 500;
  margin: 30px 0px 30px 0px;
  max-width: 100%;
  height: auto;
}

.pic {
  display: flex;
  flex-direction: column;
  background-color: rgb(220, 239, 229);
  width: 31.5%;
  padding: 20px;
  img {
    width: 100%;
  }
}

.btn_pic {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: 60px;
  background-color: rgb(220, 239, 229);
  box-sizing: border-box;
  color: darkgreen;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  border-color: darkgreen;
  border: 1px solid rgb(69, 160, 72);
}

.autor {
  font-family: "Raleway", sans-serif;
  color: gray;
  font-size: 18px;
}

.name {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
}

.holst {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
.price {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: rgb(2, 127, 2);
}

.container2 {
  background-image: url("http://www.0ow.ru/image/promo/pic_background.png");
  background-size: cover;
  width: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  height: 574px;
  align-items: center;
}

.information {
  display: flex;
  flex-direction: column;
  font-family: "Raleway";
  font-weight: 500;
  width: 1110px;
  gap: 20px;
}

.info {
  display: flex;
  font-family: "Raleway";
  font-size: 40px;
  color: white;
  font-weight: 200;
  gap: 12px;
  width: 600px;
}

.information_text {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  font-size: 21px;
  color: white;
  line-height: 1.5;
  width: 600px;
}

.look_at {
  width: 250px;
  height: 70px;
  font-size: 20px;
  color: rgb(29, 28, 28);
  background-color: rgb(220, 220, 120);
  justify-content: center;
  border: none;
}

.container3 {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin-top: 100px;
  justify-content: center;
}

.information2 {
  display: flex;
  gap: 40px;
  width: 1110px;
}

.info_picture {
  margin: 0px 0px 70px 0px;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 19px;
  margin: 0px 0px 10px 0px;
  width: 60%;
  gap: 20px;
}

.team_text_title {
  font-weight: 200;
  font-size: 40px;
  font-weight: 500;
}

.team_text_body {
  display: flex;
  line-height: 1.5;
}
.team_foto {
  display: flex;
  gap: 40px;
}
.footer {
  display: flex;
  width: 100%;
  height: 168px;
  background-color: rgb(220, 239, 229);
  justify-content: center;
  align-items: center;
  align-content: center;
}

.box_in_footer {
  display: flex;
  width: 1110px;
  height: 100%;
  box-sizing: border-box;
  margin: 0px auto;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  align-items: center;
  line-height: 2;
}

.contact {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.reprodaction2 {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.new {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.about {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.black {
  color: rgb(29, 28, 28);
}

.grey {
  color: gray;
}

.end {
  display: flex;
  flex-direction: column;
  height: 80%;
  gap: 10px;
}

.end_img {
  display: flex;
  justify-content: space-between;
}

.small {
  font-size: 12px;
  line-height: 1;
}
.box_in_footer2 {
  display: none;
}

@media (max-width: 1600px) {
  .big_container {
    max-width: 100%;
    justify-content: center;
  }
}
@media (max-width: 1201px) {
  .big_container {
    max-width: 100%;
    justify-content: center;
  }
  .container {
    width: 90%;
  }
  .container2,
  .container3 {
    width: 100%;
  }
  .section1 {
    margin-top: 10px;
    flex-wrap: wrap;
  }
  .picture {
    width: 100%;
    flex-wrap: nowrap;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .pic {
    width: 99%;
  }

  .box_in_header {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .big_container {
    width: 100%;
  }
  .container {
    width: 90%;
  }
  .picture {
    justify-content: center;
    width: 100%;
  }
  .box_in_header {
    width: 100%;
  }

  .title,
  .ink_house {
    font-size: 50px;
  }
  .section1 {
    margin-top: 10px;
    flex-wrap: wrap;
  }
  .countrys {
    flex-wrap: wrap;
  }
  .reprodaction {
    font-size: 30px;
  }

  .pic {
    flex: 1;
  }
  .information2 {
    width: 100%;
    justify-content: center;
    gap: 30px;
  }
  .info,
  .information_text {
    width: 70%;
    margin-left: 40px;
  }
  .info_picture {
    width: 55%;
  }
  .footer {
    width: 100%;
  }

  .team {
    width: 90%;
  }
  .team_foto {
    width: 90%;
  }

  .team_text_title {
    display: flex;
  }
}
@media (max-width: 858px) {
  .main {
    gap: 0px;
  }
  .text {
    gap: 0px;
  }
}

@media (max-width: 767px) {
  .big_container {
    max-width: 100%;
  }
  .container {
    width: 95%;
  }

  .burger {
    display: flex;
  }
  .navigation {
    display: none;
    flex-direction: column;
    position: fixed;
    width: 40%;
    height: 50%;
    top: 0;
    bottom: 0;
    left: 50;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 60px 40px 30px 40px;
    background-color: rgb(220, 239, 229);
    justify-content: space-between;
  }

  .navigation a {
    flex-direction: column;
    row-gap: 30px;
  }
  .reprodaction {
    font-size: 20px;
  }
  .title,
  .ink_house {
    font-size: 40px;
  }
  .main_button {
    font-size: 20px;
    width: 30%;
  }
  .box_in_header {
    flex-wrap: wrap;
  }

  .section1 {
    align-items: center;
    flex-wrap: wrap;
    width: 98%;
    gap: 10px;
  }
  .countrys {
    font-size: 20px;
    width: 100%;
    gap: 10px;
  }
  .country {
    padding: 15px 62px;
  }
  .picture {
    grid-template-columns: repeat(2, 1fr);
  }

  .box_in_header {
    width: 95%;
  }

  .star {
    width: 100px;
  }

  .information2 {
    flex-direction: column;
    gap: 35px;
    height: 95%;
    width: 100%;
  }
  .container3 {
    justify-content: center;
    width: 100%;
  }
  .container2 {
    width: 100%;
  }
  .info,
  .information_text {
    width: 80%;
    margin-left: 20px;
  }
  .information_text {
    line-height: normal;
  }

  .info_picture {
    justify-items: center;
    width: 60%;
    margin: 0 auto;
    justify-self: center;
    align-items: center;
    img {
      width: 100%;
    }
  }

  .team {
    width: 100%;
    margin: 20px, 0px, 0px, 20px;
    width: 100%;
  }
  .team_text {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .team_text_body {
    font-size: 19px;
  }
  .team_text_title,
  .team_text_body,
  .team_foto {
    margin-left: 30px;
    width: 100%;
  }

  .team_foto {
    display: flex;
    width: 90%;
    margin-bottom: 40px;
  }

  .box_in_footer {
    width: 98%;
    flex-direction: column;
    display: none;
  }
  .grey {
    display: none;
  }
  .end_img {
    width: 90%;
  }
  .footer {
    width: 100%;
    height: 20vh;
  }
  .box_in_footer2 {
    display: block;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 95%;
    margin: 0px 30px;
  }
  .icon {
    display: flex;
    flex-direction: column;
  }
  .end_img2 {
    display: flex;
  }
  .about_info {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 1.5;
  }
}

@media (max-width: 575px) {
  body,
  html {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .wrapper {
    max-width: 100%;
  }
  .big_container {
    max-width: 100%;
  }
  .header {
    width: 100%;
  }
  .container {
    width: 92%;
  }
  .title {
    font-size: 30px;
  }
  .ink_house {
    font-size: 30px;
  }
  .section {
    width: 97%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .img_burd {
    display: none;
  }
  .main {
    width: 100%;
  }
  .main_button {
    padding: 15px 60px 15px 60px;
  }
  .picture {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .pic {
    width: 90%;
  }
  .info,
  .information_text {
    width: 80%;
  }

  .look_at {
    font-size: 17px;
    height: 40px;
    width: 140px;
  }
  .container2 {
    width: 100%;
  }
  .star {
    width: 100px;
  }

  .info_title {
    font-size: 27px;
  }
  .information_text {
    font-size: 20px;
  }
  .main_button {
    font-size: 16px;
    width: 40%;
  }
  .information2 {
    margin: 0 auto;
    gap: 20px;
  }
  .navigation {
    font-size: 20px;
  }
  .section1 {
    width: 99%;
  }
  .countrys {
    gap: 10px;
    margin-top: 10px;
  }
  .country {
    width: 99%;
    display: flex;
    justify-content: center;
  }
  .box_in_footer {
    width: 98%;
    flex-direction: column;
  }
  .grey {
    display: none;
  }
  .end_img {
    width: 90%;
  }
  .navigation {
    width: 60%;
  }
}

@media (max-width: 430px) {
  .countrys {
    font-size: 16px;
  }
  .reprodaction {
    font-size: 23px;
  }
  .navigation {
    width: 60%;
  }
}
